{%extends 'index.html'%}

{%block header%}
     {%include 'components/header.html'%}
{%endblock%}

{%block contenido%}
  <div class="container">
    <div class="equipo">
        <h1 style="text-align:center;">SUMINISTRO</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Referencia</th>
                    <th>Entrada</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th>ocupadoenArea</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <!--<th>imagenS</th>-->
                    <th>Salidas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{equipo.nombre}}</td> 
                    <td>{{equipo.referencia}}</td>
                    <td>{{equipo.ordenEmitida}}</td> 
                    <td>{{equipo.fecha}}</td>
                    <td>{{equipo.cantidad}}</td>
                    <td>{{equipo.estado}}</td>
                    <td>{{equipo.ocupadoenArea}}</td>
                    <td>{{equipo.marca}}</td>
                    <td>{{equipo.categoria}}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#entradas">
                            Entradas
                        </button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#salidas">
                            Salidas
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-fade" id="entradas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-tittle" id="exampleModalLabel">Entradas de Equipos</h5>
                    <button type="button" class="btn-close" data-bs-dissmiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="row">
                            <div class="col-4">{{form.ordenEmitida|as_crispy_field}}</div>
                            <div class="col-4">{{form.valorU|as_cantidad_field}}</div>
                            <div class="col-4">{{form.cantidad|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">{{form.observaciones|as_crispy_field}}</div>  
                        </div>
                        <div class="row-justify-content-center">
                            <input type="submit" class="btn btn-primary col-6">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dissmiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-fade" id="salidas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-tittle" id="exampleModalLabel">Salida de Equipos</h5>
                    <button type="button" class="btn-close" data-bs-dissmiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" autocomplete="off" novalidate>
                        {%csrf_token%}
                        <div class="row">
                            <div class="col-6">{{form.fecha|as_crispy_field}}</div>
                            <div class="col-6">{{form.nombre|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">{{form.referencia|as_crispy_field}}</div>
                            <div class="col-6">{{form.solicitudDeMantenimiento|as_crispy_field}}</div> 
                        </div>
                        <div class="row">
                            <div class="col-6">{{form.enviadoalArea|as_crispy_field}}</div>
                            <div class="col-6">{{form.cantidad|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col-12">{{form.observaciones|as_crispy_field}}</div>
                        </div>
                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-primary col-6">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dissmiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="historico">
        <h1 style="text-align:center;">HISTORICO</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Referencia</th>
                    <th>SolicitudDeMantenimiento</th>
                    <th>EnviadoalArea</th>
                    <th>Cantidad</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{equipo.fecha}}</td>
                    <td>{{equipo.nombre}}</td>
                    <td>{{equipo.referencia}}</td>
                    <td>{{equipo.salida}}</td>
                    <td>{{equipo.ocupadoenArea}}</td>
                    <td>{{equipo.cantidad}}</td>
                    <td>{{equipo.observaciones}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
  </div>

{%endblock%}

{%block footer%}
     {% include 'components/footer.html'%}
{%endblock%}